/* ======== Body =========*/
#egg1 {
    display:block;
    width: 454px;
    height: 670px;
    background-color: #D2691E;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
    margin-left: 50%;
    margin-top: -500px
}
/* ======== Eyes =========*/
.egg2 {
    display:block;
    width: 76px;
    height: 130px;
    background-color: white;
    border: 1px solid black;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;

}
/* ======== Pupils =========*/
.circle {
    width: 50px;
    height: 50px;
    background: black;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

}
/* ======== Monacle =========*/
#circle2 {
    width: 140px;
    height: 140px;
    background-color: rgba(255,255,255,0);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 140px;
    border: 1px solid black;

}

/* ======== Glasses =========*/
#infinity {
    position: relative;
    width: 212px;
    height: 100px;
}

#infinity:before,
#infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid black;
    -moz-border-radius: 50px 50px 0 50px;
    border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
    border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ======== Mouth =========*/
#moon {
    width: 150px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 black;
    transform:rotate(30deg);
}


