
/* Nav */

.nav ul {
    list-style: none;
    background-color: #282828;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    margin-left: 10px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #E5E5E5;
}

.nav a.active {
    background-color: #D12633;
    color: #444;
    cursor: default;
}

.nav li {
    display: inline-block;
    margin-right: -4px;
}

#signout{

}


body{
    margin: 0;
    padding: 0;
    background-color: rgb(229,229,229);
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
}
/* Modal */
#overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

#modal{
    width: 350px;
    background: #E5E5E5;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    z-index: 1001;
    display: none;
}

#modal .header{
    background: #282828;
    color: #fff;
    padding: 10px;
}

#modal p{
    margin: 15px;
}

#modal .close{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #282828;
    cursor: pointer;
    background-color: #D12633 ;
}

form{
    padding: 10px;
}

form.input{
    padding: 10px;
}

.mystatus > input[type=radio]{
    display: none;
}

input[type=radio] + img{
    cursor: pointer;
    border: 2px solid transparent;
}

input[type=radio]:checked + img{
    border: 2px solid #f00;
}

/* Buttons */
.btn {
    background: #282828;
    background-image: -webkit-linear-gradient(top, #282828, #E5E5E5);
    background-image: -moz-linear-gradient(top, #282828, #E5E5E5);
    background-image: -ms-linear-gradient(top, #282828, #E5E5E5);
    background-image: -o-linear-gradient(top, #282828, #E5E5E5);
    background-image: linear-gradient(to bottom, #282828, #E5E5E5);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #D12633;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #E5E5E5;
    background-image: -webkit-linear-gradient(top, #E5E5E5, #282828);
    background-image: -moz-linear-gradient(top, #E5E5E5, #282828);
    background-image: -ms-linear-gradient(top, #E5E5E5, #282828);
    background-image: -o-linear-gradient(top, #E5E5E5, #282828);
    background-image: linear-gradient(to bottom, #E5E5E5, #282828);
    text-decoration: none;
}

/* Tool Tip */

.toolTip{
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color: #282828;
    border-radius: 5px;
    padding:10px;
    color:#D12633;
    font: 12px Arial;
}