/* Main */
body{
    background-color: rgb(229,229,229);
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
}


/* Form */
input{
    margin-top: 5px;
}

button{
    color: rgb(209,38,51);
    background-color: rgb(40,40,40);
    margin-top: 5px;
}

button:active{
    background-color: rgb(209,38,51);
    color: rgb(40,40,40);
}

a{
    color: rgb(209,38,51);
    background-color: rgb(40,40,40);
}

a:active{
    background-color: rgb(209,38,51);
    color: rgb(40,40,40);
}