
/* =Template
-------------------------------------------------------------- */
#wrapper {
    min-width:1024px;
    margin:0 auto;
}

#main {
    background-color:#fff;
}

.container {
    width:1024px;
    margin:0 auto;
    padding:48px 0;
}



p {
    margin-bottom:18px;
}


/* =Header
-------------------------------------------------------------- */

/* =Extras
-------------------------------------------------------------- */
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}